.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  overflow-y: hidden;
}

h2 {
  text-align: center;
}

span {
  font-size: 15px;
}

.section-head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: black;
}

.display-box {
  /* padding: 5px; */
  margin-bottom: 25px;
  max-height: 70vh;
  overflow-y: auto; 
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer{
  border-top-style: solid;
  border-top-color: lightseagreen;
  border-top-width: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  font-size: 20px;
  font-family: 'Bilbo', 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
